{% extends "mainapp/home-base.html" %}

{% load static %}

{% block body %}

{% if success %}
    <script defer src="{% static 'mainapp/js/textarea-auto-resize.js' %}"></script>

    <div class="review-creator-wrapper">
        <div class="create-frame">
            <form action="" method="post">
                <span>You are currently writing a review for <a href="{% url 'content' url_name %}">{{url_name}}</a></span>
                {% csrf_token %}
                
                {{ form.summary.label_tag }}
                {{ form.summary }}

                {{ form.description.label_tag }}
                {{ form.description }}
                
                <div class="captcha-panel">
                    {{ form.captcha }}
                </div>

                {% if form.non_field_errors %}
                    {{form.non_field_errors}}
                {% endif %}

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% else %}
    {{ message }}
{% endif %}

{% endblock %}