{% extends "mainapp/home-base.html" %}

{% load static %}

{% block body %}

<script defer src="{% static 'mainapp/js/star-rating.js' %}"></script>

<div class="content-wrapper">
    {% if success %}
        <div class="left">
            <div class="details">
                <div class="title">{{title}}</div>
                <div>{{type}}</div>
                <div>by {{author}}</div>
                <div class="description">{{description}}</div>
            </div>
            <div class="ratings">
                <div class="create">
                    <div class="title">
                        {% if not is_authenticated %}
                            <a href="{% url 'custom_login' %}">Log in</a>, in order to vote
                        {% else %}
                            Your rating:
                        {% endif %}
                    </div>
                    <div class="rating interactable" data-rating="{{user_rating}}" data-content_url_name="{{url_name}}">
                        <div class="s1">★</div>
                        <div class="s2">★</div>
                        <div class="s3">★</div>
                        <div class="s4">★</div>
                        <div class="s5">★</div>
                    </div>
                </div>
                <div class="total">
                    <div class="title">
                        Community rating:
                    </div>
                    <div class="rating community" data-rating="{{community_rating}}">
                        <div class="s1 partial-fill">★</div>
                        <div class="s2 partial-fill">★</div>
                        <div class="s3 partial-fill">★</div>
                        <div class="s4 partial-fill">★</div>
                        <div class="s5 partial-fill">★</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="reviews">
                <div class="title">
                    Reviews:
                </div>
                {% for review in reviews %}
                    <div class="review">
                        <div class="author">
                            <span>
                                {% if review.author == request.user %}
                                    You
                                {% else %}
                                    <a href="{% url 'conversation' review.author %}">{{review.author.username}}</a>
                                {% endif %} 
                            </span>
                            <div class="rating review-rating" data-rating="{{review.rating}}">
                                <div class="s1">★</div>
                                <div class="s2">★</div>
                                <div class="s3">★</div>
                                <div class="s4">★</div>
                                <div class="s5">★</div>
                            </div>
                        </div>
                        <div class="summary">{{review.summary}}</div>
                        <div class="description">{{review.description}}</div>
                    </div>
                    <hr>
                {% empty %}
                    There are no reviews for this content yet! Feel free to write one using buttons below:
                {% endfor %}
            </div>
            <div class="buttons">
                {% if has_review %}
                    <button disabled>Write your review</button>
                    <a href="{% url 'edit_review' url_name %}"><button>Edit your existing review</button></a>
                {% else %}
                    <a href="{% url 'add_review' url_name %}"><button>Write your review</button></a>
                    <button disabled>Edit your existing review</button>
                {% endif %}
            </div>
        </div>
    {% else %}
        {{ message }}
    {% endif %}
</div>

{% endblock %}