{% extends "mainapp/home-base.html" %}

{% load static %}

{% block body %}

<script defer src="{% static 'mainapp/js/star-rating.js' %}"></script>

<div class="content-wrapper">
    {% if success %}
        <div class="left">
            <div class="details">
                <span class="title">{{title}}</span>
                <span>{{type}}</span>
                <span>by {{author}}</span>
                <span class="description">{{description}}</span>
            </div>
            <div class="ratings">
                <div class="create">
                    <div class="title">
                        Your rating:
                    </div>
                    <div class="rating interactable" data-rating="0">
                        <div class="s1">★</div>
                        <div class="s2">★</div>
                        <div class="s3">★</div>
                        <div class="s4">★</div>
                        <div class="s5">★</div>
                    </div>
                </div>
                <div class="total">
                    <div class="title">
                        Community rating:
                    </div>
                    <div class="rating" data-rating="3">
                        <div class="s1">★</div>
                        <div class="s2">★</div>
                        <div class="s3">★</div>
                        <div class="s4">★</div>
                        <div class="s5">★</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews">
            
        </div>
    {% else %}
        {{ message }}
    {% endif %}
</div>

{% endblock %}