{% extends "mainapp/home-base.html" %}

{% load static %}

{% block body %}

<script src="{% static 'mainapp/js/search-ajax.js' %}"></script>

<div class="homepage-wrapper">
    <div class="contents">
        <div class="search-content" data-type="content">
            <div class ="search-input">
                <input type="text" placeholder="Search content" class="search-query">
                <button class="search-button">🔎</button>
            </div>
            <div class="search-results">
                
            </div>
        </div>
        <div class="newest-content">
            <div class="title">
                Newest added content:
            </div>
            {% for content in contents %}
            <a href="../content/{{content.url_name}}">
                <div class="details">
                    <div class="title">{{content.title}}</div>
                    <div>{{content.type}}</div>
                    <div>by {{content.author}}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% if request.user.is_authenticated %}
        <div class="conversations-section">
            <div class="available-conversations">
                <div class="title">
                    Available conversations:
                </div>
                {% for conv in convs %}
                    <div class="available-conversation">
                    {% if conv.person1 == request.user %}
                        <a href="{% url 'conversation' conv.person2.username %}">{{ conv.person2.username }}</a>
                    {% else %}
                        <a href="{% url 'conversation' conv.person1.username %}">{{ conv.person1.username }}</a>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="search-conversations" data-type="conversations">
                <div class ="search-input">
                    <input type="text" placeholder="Search people" class="search-query">
                    <button class="search-button">🔎</button>
                </div>
                <div class="search-results">
                    
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}