{% extends "mainapp/main.html" %}
{% block content %}

<div class="login-wrapper">
    <div class="banner">
        sharwicom
    </div>
    <form class="fields" action="" method="post">
        {% csrf_token %}

        <label for="username">username</label>
        <input id="username" name="username" type="text">

        <label for="password">password</label>
        <input id="password" name="password" type="password">

        <button type="submit">log in</button>
    </form>
</div>

{% endblock %}