$color0: #222222;
$color1: #444444;
$color2: #ffffff;
$color3: #6593e9;
$starColor: #eeba2a;

html, body {
    margin: 0;
    height: 100%;
}

@mixin input {
    padding: 1rem;
    background-color: $color0;
    outline: $color1 solid 2px !important;
    border-radius: 1rem;
    border: none;
    color: $color2;
    transition: all 0.2s ease-in-out;

    &:hover {
        outline: $color2 solid 2px !important;
    }

    &:hover {
        outline: $color2 solid 2px !important;
    }
}

@mixin button {
    padding: 1rem;
    background-color: $color1;
    border-radius: 1rem;
    border: none;
    color: white;
    font-weight: 900;
    transition: all 0.2s ease-in-out;
    outline: $color1 solid 2px !important;
    
    &:hover {
        outline: $color2 solid 2px !important;
    }
}

@mixin frame {
    outline: solid $color1 2px;
    border-radius: 1rem;
    padding: 1rem;
}

.sharwicom-wrapper {
    height: 100%;
    overflow: hidden;
    background-color: $color0;
    color: $color2;

    a {
        color: $color3;
    }

    .login-wrapper {
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .banner {
            width: 30%;
            text-align: end;
            font-size: 3rem;
            font-weight: 900;
            padding: 1rem;
        }

        .fields {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 30%;

            input {
                @include input();
                padding: 0.5rem;
                width: 8rem;
                margin-bottom: 1rem
            }

            button {
                @include button();
                padding: 0.5rem;
                width: 8rem;
                margin-bottom: 1rem;
            }
        }
    }

    .home-wrapper {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .header {
            flex-shrink: 0;
            color: $color2;
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: 900;

            a {
                color: $color2;
                text-decoration: none;
            }
        }

        .body {
            flex-grow: 1;
            overflow: hidden;

            .conversations-wrapper {
                height: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                justify-content: center;
                align-items: center;

                .available-conversations, .active-conversation {
                    @include frame();
                    height: 60%;
                }
                
                .available-conversations {
                    width: 20%;
                }

                .active-conversation {
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    
                    .conversation::-webkit-scrollbar {
                        width: 3px;
                    }
                    .conversation::-webkit-scrollbar-track {
                        background: rgba(0,0,0,0);
                    }
                    .conversation::-webkit-scrollbar-thumb {
                        background: $color1;
                    }
                    .conversation::-webkit-scrollbar-thumb:hover {
                        background: $color2;
                    } 

                    .conversation {
                        flex-grow: 1;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                        min-height: 0;
                        max-height: 100%;
                        gap: 1rem;

                        .you, .recipient {
                            width: 60%;
                            
                            .message {
                                width: fit-content;
                                background-color: $color1;
                                padding: 1rem;
                                border-radius: 1rem;
                            }
                        }

                        .you {
                            margin-left: auto;

                            .message {
                                margin-left: auto;
                            }
                        }
                    }

                    .create {
                        flex-shrink: 0;
                        display: flex;
                        gap: 1rem;
                        padding-top: 1rem;

                        .message {
                            flex-grow: 1;
                            @include input();
                        }

                        .send-message {
                            @include button();
                            flex-shrink: 0;
                        }
                    }
                }
            }

            .content-wrapper {
                .rating {
                    display: flex;
                    font-size: 2rem;
                    color: $color1;
                    
                    div {
                        cursor: grab;
                    }

                    .checked {
                        color: $starColor;
                    }
                }
            }
        }
    }
}