$color0: #222222;
$color1: #ffffff;
$color2: #24a2d4;

$animation-duration: 0.2s;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .sharwicom-wrapper {
    height: 100%;
}

.sharwicom-wrapper {

display: flex;
justify-content: center;
align-items: center;
background-color: $color0;
color: $color1;

.home-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        padding: 1rem;

        .title {
            font-size: 1.5rem;
        }
    }

    .body {
        padding: 1rem;
    }
}

.login-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 2rem;

    a {
        color: $color2;
    }

    .banner {
        width: 50%;
        font-size: 3rem;
        font-weight: 800;
        text-align: right;
    }

    .fields {
        display: flex;
        flex-direction: column;
        width: 50%;

        @mixin fieldInput {
            background-color: $color0;
            border: none;
            padding: 0.5rem;
            border-radius: 2rem;
            transition: all $animation-duration ease-in-out;
            color: $color1;
            width: 10rem;

            &:hover, &:focus {
                outline: solid 2px $color1;
            }
        }

        @mixin button {
            @include fieldInput();

            background-color: $color1;
            color: $color0;
            font-weight: 800;

            &:hover {
                outline: solid 2px $color1;
                background-color: $color0;
                color: $color1;
            }
        }

        button {
            @include button();
        }

        input {
            @include fieldInput();
            margin-bottom: 1rem;
        }

        span {
            margin-top: 1rem;
            width: 60%;
        }
    }
}

}