@charset "UTF-8";
/*
$color0: #222222;
$color1: #333333;
$color2: #ffffff;
$color3: #6593e9;
$starColor: #eeba2a;
*/
html, body {
  margin: 0;
  height: 100%;
}

.sharwicom-wrapper {
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  color: #444444;
}
.sharwicom-wrapper * {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
.sharwicom-wrapper *::-webkit-scrollbar, .sharwicom-wrapper .reviews::-webkit-scrollbar {
  width: 3px;
}
.sharwicom-wrapper *::-webkit-scrollbar-track, .sharwicom-wrapper .reviews::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.sharwicom-wrapper *::-webkit-scrollbar-thumb, .sharwicom-wrapper .reviews::-webkit-scrollbar-thumb {
  background: #eeeeee;
}
.sharwicom-wrapper *::-webkit-scrollbar-thumb:hover, .sharwicom-wrapper .reviews::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
.sharwicom-wrapper a {
  color: #6593e9;
}
.sharwicom-wrapper .captcha-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #eeeeee 2px;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 14rem;
  padding: 0.5rem !important;
}
.sharwicom-wrapper .captcha-panel * {
  margin: 0;
}
.sharwicom-wrapper .captcha-panel img {
  height: 40px;
}
.sharwicom-wrapper .captcha-panel input {
  width: 4rem;
  margin-bottom: 0;
}
.sharwicom-wrapper .login-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sharwicom-wrapper .login-wrapper .banner {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  padding: 1rem;
}
.sharwicom-wrapper .login-wrapper .fields {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  align-items: center;
}
.sharwicom-wrapper .login-wrapper .fields input {
  padding: 0.5rem;
  background-color: #ffffff;
  outline: #eeeeee solid 2px !important;
  border-radius: 1rem;
  border: none;
  color: #444444;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
  width: 8rem;
  margin-bottom: 1rem;
}
.sharwicom-wrapper .login-wrapper .fields input:hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .login-wrapper .fields button {
  padding: 0.5rem;
  background-color: #eeeeee;
  border-radius: 1rem;
  border: none;
  color: #444444;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  outline: #eeeeee solid 2px !important;
  padding: 0.5rem;
  width: 8rem;
  margin-bottom: 1rem;
}
.sharwicom-wrapper .login-wrapper .fields button:not(:disabled):hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .login-wrapper .fields button:disabled {
  background-color: #ffffff;
}
.sharwicom-wrapper .login-wrapper .fields ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1rem;
}
.sharwicom-wrapper .login-wrapper .fields .captcha-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #eeeeee 2px;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 14rem;
  padding: 0.5rem !important;
}
.sharwicom-wrapper .login-wrapper .fields .captcha-panel * {
  margin: 0;
}
.sharwicom-wrapper .login-wrapper .fields .captcha-panel img {
  height: 40px;
}
.sharwicom-wrapper .login-wrapper .fields .captcha-panel input {
  width: 4rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .sharwicom-wrapper .login-wrapper {
    flex-direction: row;
  }
  .sharwicom-wrapper .login-wrapper .banner {
    text-align: end;
  }
  .sharwicom-wrapper .login-wrapper .fields {
    align-items: start;
  }
}
.sharwicom-wrapper .home-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.sharwicom-wrapper .home-wrapper .header {
  flex-shrink: 0;
  color: #444444;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
}
.sharwicom-wrapper .home-wrapper .header a {
  color: #444444;
  text-decoration: none;
}
.sharwicom-wrapper .home-wrapper .body {
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  padding: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .hidable {
  display: none;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations .search-input {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations .search-input input {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: #ffffff;
  outline: #eeeeee solid 2px !important;
  border-radius: 1rem;
  border: none;
  color: #444444;
  transition: all 0.2s ease-in-out;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations .search-input input:hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations .search-input button {
  flex-shrink: 1;
  padding: 0.5rem;
  background-color: #eeeeee;
  border-radius: 1rem;
  border: none;
  color: #444444;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  outline: #eeeeee solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations .search-input button:not(:disabled):hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations .search-input button:disabled {
  background-color: #ffffff;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations .search-results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .available-conversations, .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation, .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations {
  border: solid #eeeeee 2px;
  border-radius: 1rem;
  padding: 1rem;
  height: 80%;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .available-conversations {
  width: 100%;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .title {
  font-weight: 900;
  margin-bottom: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .info {
  width: 100%;
  text-align: start;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation::-webkit-scrollbar {
  width: 3px;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation::-webkit-scrollbar-thumb {
  background: #eeeeee;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .you, .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .recipient {
  width: 80%;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .you .message, .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .recipient .message {
  width: fit-content;
  background-color: #eeeeee;
  padding: 1rem;
  border-radius: 1rem;
  word-break: break-all;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .you {
  margin-left: auto;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .you .message {
  margin-left: auto;
  background-color: #6593e9;
  color: #ffffff;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .recipient .message {
  background-color: #eeeeee;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create {
  flex-shrink: 0;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .message {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: #ffffff;
  outline: #eeeeee solid 2px !important;
  border-radius: 1rem;
  border: none;
  color: #444444;
  transition: all 0.2s ease-in-out;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .message:hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .send-message {
  padding: 0.5rem;
  background-color: #eeeeee;
  border-radius: 1rem;
  border: none;
  color: #444444;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  outline: #eeeeee solid 2px !important;
  flex-shrink: 0;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .send-message:not(:disabled):hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .send-message:disabled {
  background-color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .sharwicom-wrapper .home-wrapper .body .conversations-wrapper {
    flex-direction: row;
  }
  .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .info {
    display: none;
  }
  .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation {
    width: 60%;
    flex-grow: unset;
  }
  .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .available-conversations {
    display: block;
    width: 20%;
  }
  .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .search-conversations {
    width: 20%;
  }
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left .details {
  border: solid #eeeeee 2px;
  border-radius: 1rem;
  padding: 1rem;
  overflow-y: auto;
  height: max-content;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 8rem 1rem 8rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left .details .title {
  font-size: 1.5rem;
  font-weight: 900;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left .details .description {
  white-space: pre;
  text-wrap: wrap;
  margin-top: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings {
  display: flex;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings .create, .sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings .total {
  border: solid #eeeeee 2px;
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: max-content;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: solid #eeeeee 2px;
  border-radius: 1rem;
  padding: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews {
  padding: 0 8rem 0 8rem;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews .title {
  font-size: 1.5rem;
  font-weight: 900;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews .review {
  display: flex;
  flex-direction: column;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews .review .author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews .review .author .rating {
  font-size: 1.5rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews .review .summary {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews .review .description {
  white-space: pre-line;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews hr {
  border: solid #eeeeee 2px;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  padding: 0;
  border-width: 1px;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews hr:nth-last-child(1) {
  display: none;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .buttons button {
  padding: 0.5rem;
  background-color: #eeeeee;
  border-radius: 1rem;
  border: none;
  color: #444444;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  outline: #eeeeee solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .buttons button:not(:disabled):hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .right .buttons button:disabled {
  background-color: #ffffff;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .rating {
  display: flex;
  font-size: 3rem;
  color: #eeeeee;
  cursor: default;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .rating .partial-fill {
  position: relative;
  white-space: pre;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .rating .partial-fill:before {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: "★";
  color: #eeba2a;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to right, currentColor calc(var(--fill, 0%)), transparent 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .rating .checked {
  color: #eeba2a;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .interactable div {
  cursor: grab;
}
@media only screen and (max-width: 768px) {
  .sharwicom-wrapper .home-wrapper .body .content-wrapper {
    border: solid #eeeeee 2px;
    border-radius: 1rem;
    padding: 1rem;
    flex-direction: column;
    overflow-y: auto;
  }
  .sharwicom-wrapper .home-wrapper .body .content-wrapper .left {
    width: 100%;
  }
  .sharwicom-wrapper .home-wrapper .body .content-wrapper .left .details, .sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings .create, .sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings .total {
    border: 0;
    padding: 0;
    border-radius: 0;
  }
  .sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings {
    flex-direction: column;
    justify-content: center;
  }
  .sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings .create, .sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings .total {
    width: 100%;
    align-items: start;
  }
  .sharwicom-wrapper .home-wrapper .body .content-wrapper .right {
    flex-direction: column-reverse;
    border: 0;
    width: 100%;
    padding: 0;
  }
  .sharwicom-wrapper .home-wrapper .body .content-wrapper .right .reviews {
    width: 100%;
    padding: 0;
    margin-top: 1rem;
  }
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper span, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper span {
  margin-bottom: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame {
  border: solid #eeeeee 2px;
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
  height: 100%;
  overflow-y: auto;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form {
  display: flex;
  flex-direction: column;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form input, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form input {
  padding: 0.5rem;
  background-color: #ffffff;
  outline: #eeeeee solid 2px !important;
  border-radius: 1rem;
  border: none;
  color: #444444;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form input:hover, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form input:hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form textarea, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form textarea {
  padding: 0.5rem;
  background-color: #ffffff;
  outline: #eeeeee solid 2px !important;
  border-radius: 1rem;
  border: none;
  color: #444444;
  transition: all 0.2s ease-in-out;
  resize: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form textarea:hover, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form textarea:hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form button, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form button {
  padding: 0.5rem;
  background-color: #eeeeee;
  border-radius: 1rem;
  border: none;
  color: #444444;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  outline: #eeeeee solid 2px !important;
  width: min-content;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 8rem;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form button:not(:disabled):hover, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form button:not(:disabled):hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form button:disabled, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form button:disabled {
  background-color: #ffffff;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form select, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form select {
  padding: 0.5rem;
  background-color: #ffffff;
  outline: #eeeeee solid 2px !important;
  border-radius: 1rem;
  border: none;
  color: #444444;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form select:hover, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form select:hover {
  outline: #bbbbbb solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form .captcha-panel input, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form .captcha-panel input {
  margin: 0;
}
.sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame form ul, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .sharwicom-wrapper .home-wrapper .body .content-creator-wrapper .create-frame, .sharwicom-wrapper .home-wrapper .body .review-creator-wrapper .create-frame {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
