html, body {
  margin: 0;
  height: 100%;
}

.sharwicom-wrapper {
  height: 100%;
  overflow: hidden;
  background-color: #222222;
  color: #ffffff;
}
.sharwicom-wrapper a {
  color: #6593e9;
}
.sharwicom-wrapper .login-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sharwicom-wrapper .login-wrapper .banner {
  width: 30%;
  text-align: end;
  font-size: 3rem;
  font-weight: 900;
  padding: 1rem;
}
.sharwicom-wrapper .login-wrapper .fields {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 30%;
}
.sharwicom-wrapper .login-wrapper .fields input {
  padding: 1rem;
  background-color: #222222;
  outline: #444444 solid 2px !important;
  border-radius: 1rem;
  border: none;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
  width: 8rem;
  margin-bottom: 1rem;
}
.sharwicom-wrapper .login-wrapper .fields input:hover {
  outline: #ffffff solid 2px !important;
}
.sharwicom-wrapper .login-wrapper .fields input:hover {
  outline: #ffffff solid 2px !important;
}
.sharwicom-wrapper .login-wrapper .fields button {
  padding: 1rem;
  background-color: #444444;
  border-radius: 1rem;
  border: none;
  color: white;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  outline: #444444 solid 2px !important;
  padding: 0.5rem;
  width: 8rem;
  margin-bottom: 1rem;
}
.sharwicom-wrapper .login-wrapper .fields button:hover {
  outline: #ffffff solid 2px !important;
}
.sharwicom-wrapper .home-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.sharwicom-wrapper .home-wrapper .header {
  flex-shrink: 0;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
}
.sharwicom-wrapper .home-wrapper .header a {
  color: #ffffff;
  text-decoration: none;
}
.sharwicom-wrapper .home-wrapper .body {
  box-sizing: border-box;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .available-conversations, .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation {
  outline: solid #444444 2px;
  border-radius: 1rem;
  padding: 1rem;
  height: 60%;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .available-conversations {
  width: 20%;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation::-webkit-scrollbar {
  width: 3px;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation::-webkit-scrollbar-thumb {
  background: #444444;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .you, .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .recipient {
  width: 60%;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .you .message, .sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .recipient .message {
  width: fit-content;
  background-color: #444444;
  padding: 1rem;
  border-radius: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .you {
  margin-left: auto;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .conversation .you .message {
  margin-left: auto;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create {
  flex-shrink: 0;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .message {
  flex-grow: 1;
  padding: 1rem;
  background-color: #222222;
  outline: #444444 solid 2px !important;
  border-radius: 1rem;
  border: none;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .message:hover {
  outline: #ffffff solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .message:hover {
  outline: #ffffff solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .send-message {
  padding: 1rem;
  background-color: #444444;
  border-radius: 1rem;
  border: none;
  color: white;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  outline: #444444 solid 2px !important;
  flex-shrink: 0;
}
.sharwicom-wrapper .home-wrapper .body .conversations-wrapper .active-conversation .create .send-message:hover {
  outline: #ffffff solid 2px !important;
}
.sharwicom-wrapper .home-wrapper .body .details::-webkit-scrollbar, .sharwicom-wrapper .home-wrapper .body .reviews::-webkit-scrollbar {
  width: 3px;
}
.sharwicom-wrapper .home-wrapper .body .details::-webkit-scrollbar-track, .sharwicom-wrapper .home-wrapper .body .reviews::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.sharwicom-wrapper .home-wrapper .body .details::-webkit-scrollbar-thumb, .sharwicom-wrapper .home-wrapper .body .reviews::-webkit-scrollbar-thumb {
  background: #444444;
}
.sharwicom-wrapper .home-wrapper .body .details::-webkit-scrollbar-thumb:hover, .sharwicom-wrapper .home-wrapper .body .reviews::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper {
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left .details {
  outline: solid #444444 2px;
  border-radius: 1rem;
  padding: 1rem;
  flex-grow: 5;
  overflow-y: auto;
  font-size: 6rem;
  height: max-content;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings {
  display: flex;
  gap: 1rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings .create, .sharwicom-wrapper .home-wrapper .body .content-wrapper .left .ratings .total {
  outline: solid #444444 2px;
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: max-content;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .reviews {
  outline: solid #444444 2px;
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
  overflow-y: auto;
  font-size: 5rem;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .interactable div {
  cursor: grab;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .rating {
  display: flex;
  font-size: 3rem;
  color: #444444;
}
.sharwicom-wrapper .home-wrapper .body .content-wrapper .rating .checked {
  color: #eeba2a;
}

/*# sourceMappingURL=main.css.map */
